# WiRocPython service
[Unit]
Description=WiRocPython: Main WiRoc service
After=default.target

[Service]
Type=simple
WorkingDirectory=/home/chip/WiRoc-Python-2
ExecStart=/usr/bin/python3 start.py
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
