# WiRocPython service
[Unit]
Description=WiRocPython: Main WiRoc service
After=default.target

[Service]
Type=simple
WorkingDirectory=/home/chip/WiRoc-Python-2
ExecStart=/home/chip/WiRoc-Python-2/env/bin/python start.py
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
