# WiRocStartup service, fix bluetooth
[Unit]
Description=WiRocStartup: Startup service
After=default.target

[Service]
Type=oneshot
WorkingDirectory=/home/chip/WiRoc-StartupScripts
ExecStart=/home/chip/WiRoc-StartupScripts/env/bin/python Startup.py

[Install]
WantedBy=WiRocBLEAPI.service
WantedBy=WiRocPython.service
