# WiRocPython service
[Unit]
Description=WiRocPythonWS: WiRoc service for web api
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=forking
PIDFile=/var/run/WiRocPythonWS.pid
WorkingDirectory=/home/chip/WiRoc-Python-2
ExecStart=/usr/bin/python3 startWebServer.py
Restart=always
RestartSec=10

[Install]
WantedBy=WiRocBLE.service
