# WiRocBLEAPI service
[Unit]
Description=WiRocBLEAPI: Bluetooth Low Energy GATT service
Wants=network-online.target WiRocPythonWS.service
After=network.target network-online.target WiRocPythonWS.service

[Service]
Type=simple
WorkingDirectory=/home/chip/WiRoc-BLE-API
ExecStart=/home/chip/WiRoc-BLE-API/env/bin/python gatt-server.py
Restart=always
RestartSec=10

[Install]
WantedBy=default.target

