# WiRocPython service
[Unit]
Description=WiRocBLE: Bluetooth Low Energy GATT service
Wants=network-online.target WiRocPythonWS.service
After=network.target network-online.target WiRocPythonWS.service

[Service]
Type=simple
Environment="BLENO_ADVERTISING_INTERVAL=1000"
ExecStart=/usr/local/bin/node /home/chip/WiRoc-BLE-Device/main.js &> /home/chip/WiRoc-BLE-Device.log
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=10
KillMode=process

[Install]
WantedBy=default.target
